:root {
  --main-color-green: #0b2d19;
  --main-color-light-green: #1b4b2d;
  --main-color-red: #b30d23;
  --main-color-light-red: #4a1018;
  --main-color-gold: #FFD700;
  --main-color-ivory: #F6F2EB;
  --main-color-gray: #898181;
  --button-hover-color: #8F2736;
  --main-color-text: #fff8eb;
  --button-text-color: #fff8eb;
  --box-background-color: #4e8565;
  --box-background-color-light: #aab4ae80;
  --border-color: #e7bbc3;
  --shadow-color: #00000066;
  --text-shadow-color: #00000080;
  --submit-button-color: #35975b;
  --main-color-text-dark: #282b29;
}
body {
  margin: 0;
  padding: 0;
}