@import './base.css';

#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

body {
  background-color: var(--main-color-light-green);
  color: var(--main-color-text);
}

button {
  background-color: var(--main-color-red);
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  padding: 8px 12px;
  font-weight: bold;

}
button:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px var(--shadow-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 20px;
  position: relative;
  min-height: 80px;
  background-color: var(--main-color-green);
  box-shadow: 0 0 15px var(--main-color-green);
  z-index: 20;
}

header h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  white-space: nowrap;
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-family: 'Trebuchet MS', sans-serif;
  color: white;
  text-shadow: 2px 2px 4px var(--text-shadow-color);
  z-index: 20;
}

h1 {
  font-family: 'Trebuchet MS', sans-serif;
  color: white;
  text-shadow: 2px 2px 4px var(--text-shadow-color);
}

h2,h3, h4, h5 {
  color: white;
  text-shadow: 2px 2px 4px var(--text-shadow-color);
}


.language-button-container {
  margin-left: auto; 
  z-index: 10; 
}

.lang-button{
  background-color: transparent;
  border: 2px solid var(--main-color-gray);
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.text-boxes {
  width: clamp(15rem, 2.5vw, 30rem);
  height: 25px;
  margin: 10px;
  border-radius: 10px;
  border: 3px solid var(--border-color);
  font-weight: bold;
  z-index: 30;
}

.warning-text {
  color: var(--main-color-red); 
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 10px;
}
@media  (max-width: 700px) {

  header {
    flex-direction: column; 
    height: auto;           
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 15px;              
  }

  header h1 {
    position: static; 
    transform: none;
    font-size: 2.5rem; 
    order: 1; 
  }}
